# Site settings
baseurl:          ""
url:              https://designmeme.github.io

title:
  ko:             이지혜, 프론트엔드 웹 개발자
  en:             Jihye Lee, Front-end Web Developer
description:      Freelance Font-end Web Developer
author:           이지혜 Jihye Lee
email:            ghe.lee19@gmail.com

image:            "" # og_image, fb 고해상도 1200x630px, 8MB 이하
google_adsense:   ca-pub-5213448719952520
google_analytics: UA-93339811-1
facebook_app_id:  127116027879734
github_username:  designmeme
copyright:        © Jihye Lee
favicon_version:  0.1.0

# Front matter defaults
defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: page
      type: pages
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      type: posts
  - scope:
      path: en
    values:
      lang: en
  - scope:
      path: ko
    values:
      lang: ko
  - scope:
      path: _posts/en
    values:
      lang: en
      categories: en blog
  - scope:
      path: _posts/ko
    values:
      lang: ko
      categories: ko blog

# Build settings
permalink:        /:categories/:title/
timezone:         GMT
exclude:
  - Gemfile
  - Gemfile.lock
  - gulpfile.js
  - LICENSE
  - package.json
  - README.md
  - node_modules
  - vendor
gems:
  - jekyll-sitemap
  - jekyll-redirect-from
sass:
  sass_dir: assets/sass
  style: compressed
kramdown:
  input: GFM
  syntax_highlighter_opts:
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1