// Footer
//
//


.site-footer {
  background: $brand-primary;
  color: #fff;
  font-weight: 200;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-title {
    order: 1;
    .logo {
      display: block;
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  .site-contact {
    order: 2;
    white-space: nowrap;
    .contact-link {
      display: inline-block;
      margin-left: 2rem;
      font-size: 2rem;
      color: #fff;
      vertical-align: middle;
      &.circle {
        width: 1.72rem;
        height: 1.72rem;
        border-radius: 50%;
        background-color: #fff;
        color: $brand-primary;
        font-size: 1.111rem;
        text-align: center;
      }
    }
  }
  .site-copyright {

  }
}