// Layout
//
//

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.wrapper {
  margin: 0 100px;
}

.page-content {
  flex: 1 1 auto;
  padding-bottom: 200px;
  .main {
    max-width: 650px;
    margin-left: 200px + 100px;
  }
}