<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-title">
      <img src="{{ 'assets/image/common/logo-footer.svg' | relative_url }}" alt="{{ site.title[page.lang] | escape }}" class="logo">
    </div>

    <div class="site-contact">
      {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}" class="contact-link" aria-label="Visit github"><i class="fa fa-github" aria-hidden="true"></i></a>
      {% endif %}
      {% if site.email %}
        <a href="mailto:{{ site.email }}" class="contact-link circle" aria-label="Send email"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      {% endif %}
    </div>

    <div class="site-copyright">{{ site.copyright | escape }}</div>

  </div>

</footer>
