{% if site.google_adsense %}
<div class="blog-ad">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" onload="gaEvent('Blocking Ads', 'No')" onerror="gaEvent('Blocking Ads', 'Yes')"></script>
	<ins class="adsbygoogle"
		 style="display:block"
		 data-ad-format="fluid"
		 data-ad-layout-key="-gu-3+1f-3d+2z"
		 data-ad-client="{{ site.google_adsense }}"
		 data-ad-slot="6555927968"></ins>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>
{% endif %}
