<header class="site-header">

  <div class="wrapper">
    {% assign homelink = site.data.navigation[page.lang]['home'] %}
    <a class="site-title" href="{{ homelink.url | relative_url }}">
      <img src="{{ 'assets/image/common/logo.svg' | relative_url }}" alt="{{ homelink.title }}" class="logo">
    </a>

    <nav class="site-nav">
      <div class="trigger">
        {% assign links = site.data.navigation[page.lang] %}
        {% for link in links offset:1 %}
          {% assign current = link[0] | prepend: '/' | append: '/' %}
          <a class="page-link {% if page.url contains current %}active{% endif %}" href="{{ link[1].url | relative_url }}">{{ link[1].title }}</a>
        {% endfor %}
      </div>
    </nav>

    <div class="site-lang-nav">
      {% if page.type == "pages" %}
        {% assign type = "pages" %}
      {% else %}
        {% assign type = "posts" %}
      {% endif %}

      {% assign group = site[type] | where:"name", page.name | sort: 'lang' %}
      {% for item in group %}
        <a class="lang-link {{ item.lang }}" href="{{ item.url | relative_url }}" aria-label="{{ site.data.languages[item.lang].label }}"></a>
      {% endfor %}
    </div>

  </div>

</header>
