<!-- Start of StatCounter Code for Default Guide -->
<script>
  var sc_project = {{ site.statcounter.project }};
  var sc_invisible = 0;
  var sc_security = "{{ site.statcounter.security }}";
  var sc_text = 2;
  var scJsHost = (("https:" == document.location.protocol) ? "https://secure." : "http://www.");
  document.write("<script src='" + scJsHost + "statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web analytics" href="http://statcounter.com/" target="_blank"><img class="statcounter" src="//c.statcounter.com/11398249/0/3b7ccf52/0/" alt="web analytics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->