<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th class="align-right"></th>
      <th class="align-center">nested</th>
      <th class="align-center">expanded</th>
      <th class="align-center">compact</th>
      <th class="align-center">compressed</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th class="align-right">한 줄 주석 <code class="highlighter-rouge">//</code></th>
      <td class="align-center"><span class="monospace">X</span></td>
      <td class="align-center"><span class="monospace">X</span></td>
      <td class="align-center"><span class="monospace">X</span></td>
      <td class="align-center"><span class="monospace">X</span></td>
    </tr>
    <tr>
      <th class="align-right">다중 줄 주석 <code class="highlighter-rouge">/* */</code></th>
      <td class="align-center"><span class="monospace">O</span></td>
      <td class="align-center"><span class="monospace">O</span></td>
      <td class="align-center"><span class="monospace">O</span><p class="p-smaller">한 줄로 출력</p></td>
      <td class="align-center"><span class="monospace">△</span><p class="p-smaller"><code class="highlighter-rouge">!</code>로 시작할 경우에만 출력</p></td>
    </tr>
    </tbody>
  </table>
</div>