---
layout: default
---
<div class="page">

  <header class="page-header">
    <h1 class="page-title">{{ page.title | escape }}</h1>
    {% if page.subtitle %}
      <p class="page-subtitle"> {{ page.subtitle }}</p>
    {% endif %}
  </header>

  <div class="page-content">
    {{ content }}

    <div class="blog">
    {% assign subjects = site.data.posts.subjects %}
    {% for subject in subjects %}
      {% if subject[1].title[page.lang] %}
      <h2 class="post-subject-title">{{ subject[1].title[page.lang] }} ({{subject[1].names.size}})</h2>
      {% assign names = subject[1].names %}
      <ul class="post-list">
        {% for name in names %}
        {% assign post = site.posts | where:"name", name | where:"lang", page.lang %}
        {% assign post = post[0] %}
        {% if post.title %}
        <li>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
    {% endfor %}
    </div>
  </div>

</div>
