<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" {% if page.image or site.data.posts.subjects[page.subject].image %}class="has-image"{% endif %}>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="site-main" aria-label="Content">
      <div class="wrapper">
        <div class="inner-wrapper">
          {{ content }}
        </div>
      </div>
    </main>

    {% include footer.html %}

    {% include scripts.html %}
  </body>

</html>
