---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{% include date.html %}</time>
      {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
    </p>
    {% unless page.tags == empty %}
    <p class="tags">
      {% for tag in page.tags %}
      <a>{{ tag | downcase }}</a>
      {% endfor %}
    </p>
    {% endunless %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div>
    {% assign posts = site.posts | where: "lang", page.lang %}
    {% for post in posts %}
      {% if prev %}
        <a href="{{ post.url | relative_url }}">Previous</a>
        {% break %}
      {% endif %}
      {% if post.id == page.id %}
        {% assign prev = true %}
      {% endif %}
    {% endfor %}

    {% assign posts2 = site.posts | reverse | where: "lang", page.lang %}
    {% for post in posts2 %}
      {% if next %}
        <a href="{{ post.url | relative_url }}">Next</a>
        {% break %}
      {% endif %}
      {% if post.id == page.id %}
        {% assign next = true %}
      {% endif %}
    {% endfor %}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>